<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turboblasterunlimited.k9karaoke">
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true" />
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
</manifest>
